body {
  background: #111;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.box {
  background: #222;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: #333;
  border: none;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}